.LoginConatiner {
    padding: 10px;
    height: 85vh;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoginConatiner h3{
    font-weight: 400;
    color: #082340;
    margin-top: 50px;
    font-size: 12pt;
}

.LoginForm {
    width: 500px;


    background-color: #F3F3F3;
    border: solid 3px #082340;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.LoginForm label {
    margin: 10px;
}

.LoginForm button {
    margin: 10px;
    padding: 5px;
    background-color: #082340;
    color: white;

    border-radius: 5px;
    border:solid 5px #082340

}

.LoginForm button:hover{
    /* transform: scale(1.25); */
    opacity: 0.8;
    transition: all 0.02s linear;
}

.LoginConatiner label input {
    margin: 5px 5px 5px 10px;
}

.Password{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#inputcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}