.welcomeToBeta{
    text-align: center;
    font-size: 50pt;
    letter-spacing: 1.5px;
    margin: 20px;
}
.studentContainerTitle{
    font-size: 30pt;
    margin: auto;
    text-align: center;
}

.SugnupConatiner{
    margin: 80px auto 0px auto;
}