.InstructorHome{
    margin-top: 80px;
}
.Welcome{
    font-size: 30pt;
    letter-spacing: 1.5px;


    margin: 10px;
}

.InstryctorWorkShopsHome{
    font-size: 30pt;
    letter-spacing: 1.5px;

    margin: 10px;

    text-align: center;
}