.AboutBar {
  background-color: #082340;
  width: 100px;


  text-align: center;

  position: fixed;
  top: 30px;
  right: 0;
}

.AboutBar a {
  color: white;
  text-decoration: none;
}

.BackGround {

  margin-top: 50px;
  margin-bottom: 10px;
  width: 80%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.About {
  width: 90%;

  border: 2px solid black;

}

.AboutBeta {
  width: 70%;

  text-align: left;
  margin: 20px auto 20px auto;
  padding: 20px;

  background-color: #F3F3F3;

  border: 2px solid #082340;
  border-radius: 10px;
}

.Reviews {
  width: 90%;

  padding: 10px;
  margin: 10px auto 10px auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  margin: 20px auto 20px auto;
  width: 250px;
  height: 150px;
  border: 2px solid #f1f1f1;
}

.FacebookGroup {
  text-align: center;

  margin-bottom: 20px;
  font-weight: 600;
}

.FacebookGroup mark {
  background-color: gold;
}